.subheader {
  padding: 10px;
  padding-left: 204px;

  input {
    width: 100%;
    padding: 6px;
    font-size: 24px;
    border: 1px solid transparent;  

    &:focus {
      outline: 0
    }

    &:hover,
    &:focus {
      border-color: #dedede;        
    }
  }
}
